/* Estilos gerais */
body {
    font-family: 'Helvetica', Arial, sans-serif;
    margin: 1.5cm;
    font-size: 12pt;
    line-height: 1.6;
    color: #333;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Cabeçalho */
.header {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.header h2 {
    margin: 0;
    font-size: 16pt;
    font-weight: bold;
}

.header p {
    margin: 3px 0;
    font-size: 10pt;
    color: #555;
}

/* Título principal */
.title {
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
}

main{
    margin-bottom: 50px;
}

/* Informações do paciente */
.patient-info {
    background-color: #f7f7f7;
    border: 1px solid #e0e0e0;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 5px;
    font-size: 11pt;
    display: flex;
    justify-content: space-evenly;
}

/* Detalhes do paciente */
.patient-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* Conteúdo principal */
.content {
    text-align: justify;
    width: 90%;
    margin: 0 auto;
}

/* Rodapé */
.footer {
    text-align: center;
    font-size: 9pt;
    color: #666;
    margin-top: 20px;
}

#footer_p2 {
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.container_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

#icp_img{
    width: 200px;
}

#signature_img{
    width: 100px;
} 

/* Responsividade */
@media (max-width: 768px) {
    body {
        margin: 10px;
        font-size: 10pt;
    }

    .header h2 {
        font-size: 14pt;
    }

    .title {
        font-size: 16pt;
    }

    .patient-info {
        font-size: 10pt;
    }
}
